# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
reservationspy-ui/build
reservationspy-api/dist

# Editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Docker-related files
mysql-data/
docker-compose.override.yml

# Tests coverage reports
coverage/
